<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <bean id="bookApiService" class="com.xw.api.book.impl.BookApiServiceImpl" />
    <bean class="com.googlecode.jsonrpc4j.spring.JsonServiceExporter">
        <property name="service" ref="bookApiService"/>
        <property name="serviceInterface" value="com.xw.api.book.BookApiService"/>
    </bean>

</beans>